body{
    background-image: url(hillstationback.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a{
    text-decoration: none;
}
.desc{

    top: 0px;
    height: 30vh;
    width: 70vw;
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(18, 18, 18, 0.71);
}
 .fimg{
    background-image: url(ratangad.jpg);
  width: 39%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#mount1 .fimg{
    background-image: url(Amboli.png);
}

#mount2 .fimg{
    background-image: url(Toranmal.png);
}

#mount3 .fimg{
    background-image: url(Igatpuri.png);
}

#mount4 .fimg{
    background-image: url(Bhimashankar.jpg);
}

#mount5 .fimg{
    background-image: url(lonaval-khandala.png);
}
#mount6 .fimg{
    background-image: url(Malshej.jpg);
}
#mount7 .fimg{
    background-image: url(Mahabaleshwar.png);
}
#mount8 .fimg{
    background-image: url(Panchagani.png);
}
#fort9 .fimg{
    background-image: url(Daulatabad.jpg);
}
#mount10 .fimg{
    background-image: url(Lavasa.jpg);
}
#mount11 .fimg{
    background-image: url(Bhandardara.jpg);
}
#mount12 .fimg{
    background-image: url(Chikaldara.jpg);
}
#mount13 .fimg{
    background-image: url(Gagan.jpg);
}
#mount14 .fimg{
    background-image: url(Matheran.jpg);
}
#mount15 .fimg{
    background-image: url(Mhaismal.jpg);
}


.fwritten{
    width: 58%;
    height: 100%;
    background-color: #76757577;
    color: white;
}

.fwritten h5{
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (max-width:700px){
    .fwritten{
        font-size: 0.75rem;
        overflow: hidden;
    }
}

h6 a{
    text-decoration: none;
    font-size: 1.37rem;
    color: white;
   
}
h6{
    position: absolute;
    margin-left: 35px;
}
#active{
  color: rgb(140, 87, 140);
  text-decoration: underline;
}